.btns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 ;
    min-width: 400px;
}
.all, .low, .middle, .high {
    opacity: 0.5;

    background-color: white;
    border-radius: 10px;
    color: #360606;
    transition: all .8s ease-in-out;
}
.remove {
    fill-opacity: .8;
    width: 60px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    color: #360606;
}
.btn,
.active_all,
.active_low,
.active_high,
.active_middle{
    background-color: #b0ccee;
    width: 60px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}
.active_all {
    background-color: #7db9ff;
}
.active_low {
    background-color: #a6d3a3;
}
.active_middle {
    background-color: #fff856;
}
.active_high {
    background-color: #ff5f5f;
}