.message {
    --background-color: #99a6d2;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 15px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 15px;
    transition: .8s ease-in-out;
}
.message:hover {
    transform: translateX(-50px);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 0 1 50px;
}

.angle {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at left top, rgba(0, 0, 0, 0) 20px, rgba(255, 255, 255, 0.56) 0);
}

.body {
    --color: rgba(255, 255, 255, 0.56);
    position: relative;
    font-size: 20px;
    padding: 10px;
    flex: 0 0 70%;
    background-color: var(--color);
    color: #fff;
    border-radius: 5px 5px 5px 0;
}

.name {
    font-weight: 700;
    color: #4675bd;
    margin-bottom: 3px;
}

.text {
    color: #314e6b;
    word-wrap: break-word;
}

.time {
    display: flex;
    justify-content: end;
    opacity: .9;
    color: #666;
    transform: translateY(5px);
}

.alternative {
    position: absolute;
    bottom: 7px;
    right: 7px;
    opacity: .9;
    color: #666;
    transform: translateY(5px);
}
